{% stylesheet %}
    .alert-cont {
        text-align: center;
        margin-top: 2rem;
        border-radius: 8px;
    }

    .alert {
        font-weight: 800;
        padding: 0.5rem;
        text-transform: uppercase;
    }

    .warning {
        background-color: tomato;
    }

    .success {
        background-color: greenyellow;
    }
{% endstylesheet %}

{% for discount_application in cart.discount_applications %}
    {% if discount_application.value_type == 'percentage' %}
        {{ discount_application.value | remove: '0' }}
    {% endif %}
{% endfor %}


{% if cart.item_count < 6 %}  
    <div class="alert-cont warning">
        {% assign needed_for_discount = 6 | minus: cart.item_count %}
        <div class="alert">
            Add <span id="remaining">{{ needed_for_discount }}</span> more product(s) to get 20% discount  
        </div>
    </div>   
{% else %}
    <div class="alert-cont success">
        {% assign needed_for_discount = 6 | minus: cart.item_count %}
        <div class="alert">
            congratulation's🎉🎉 you are geting 20% off
        </div>
    </div>
{% endif %}


{% schema %}
{
    "name": "Discount",
    "class": "page-width",
    "settings": [
        {
            "type": "text",
            "id": "heading_discount",
            "label": "heading",
            "default": "Special Discount🎉🎉"
        }
    ],
    "presets": [
        {
            "category": "Discount",
            "name":"Special Discount"
        }
    ]
}
{% endschema %}

{%- comment -%}
*** DISCOUNT COUNTER: ATTEMPT 1 ***

const count = document.querySelector('input#Quantity-1.quantity__input');

const cartAlert = (c) => {
    console.log("3. Count-ALERT: ", count.value);
    const num = document.querySelector('.alert #remaining');
    num.innerHTML = count.value;
    console.log("👀 ", count);
}

const cartContents = async () => {
    try {
        const response = await fetch('/cart.js');
        const cart = await response.json();
        const count = cart.item_count;
        console.log("Count-ASYNC: ", count);

        cartAlert(count);
    } catch (err) {
        console.log("ERROR: ", err);
    }
}

count.addEventListener('change', (e) => {
    console.log("1. Count-TRIGGERED: ", e.target.value);
    cartContents();
});


{%- endcomment -%}